In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\florian agbodji\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\florian agbodji\anaconda3\lib\site-packages (from pymongo) (2.6.1)

In [2]:
import pymongo

### 1- Connection to MongoDB

In [3]:
from pymongo import MongoClient

In [4]:
connection_string = "mongodb://127.0.0.1:27017/users"
client = MongoClient(connection_string)

print(client.list_database_names())

['Example', 'admin', 'bookstore', 'config', 'local']

### 2- Database and Collection creation

In [5]:
db_instance = client.get_database("Example") # New database
col = db_instance.get_collection("Infos") # New collection

print(db_instance.list_collection_names()) # avec mongodb, les databases et collections ne s'affichent que si elles contiennent des infos

['Infos']

### 3- Insert document into collection

In [6]:
document = {
    "title": 'Florian',
    "author": 'Brandon Sanderson',
    "pages": 350,
    "genres": [ 'fantasy', 'dystopian' ],
    "rating": 9
  }

res = col.insert_one(document)
last_id = res.inserted_id
print("nouveau id : {}".format(last_id))

nouveau id : 65d4e48eef17b7d04587736a

In [7]:
print(client.list_database_names())

['Example', 'admin', 'bookstore', 'config', 'local']

In [8]:
print(db_instance.list_collection_names())

['Infos']

In [9]:
docs = [
    {
        "title": 'Florian',
        "author": 'Brandon Sanderson',
        "pages": 350,
        "genres": [ 'fantasy', 'dystopian' ],
        "rating": 9
    },
    {
        "title": 'Blaise',
        "author": 'Brandon Sanderson',
        "pages": 21,
        "genres": [ 'okay', 'dystopian' ],
        "rating": 7
    }    
]

re = col.insert_many(docs)

new_ids = re.inserted_ids
print("id : {}".format(new_ids))

id : [ObjectId('65d4e48eef17b7d04587736b'), ObjectId('65d4e48eef17b7d04587736c')]

### 4- Find document

In [10]:
d = col.find_one()
print(d)

{'_id': ObjectId('65d4c663440ec6d82e1ff62e'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}

In [11]:
cur = col.find()
print(cur)

<pymongo.cursor.Cursor object at 0x00000236C1944B90>

In [12]:
for doc in cur:
    print(doc)

{'_id': ObjectId('65d4c663440ec6d82e1ff62e'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c99f440ec6d82e1ff62f'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c99f440ec6d82e1ff630'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff631'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff632'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff633'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff634'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4ca16440ec6d82e1ff635'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4ca16440ec6d82e1ff636'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4e48eef17b7d04587736a'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4e48eef17b7d04587736b'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4e48eef17b7d04587736c'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}

### 5- Query document

In [13]:
r = col.find({"title":"Blaise"})

for dd in r:
    print(dd)

{'_id': ObjectId('65d4c99f440ec6d82e1ff630'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff632'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff634'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4ca16440ec6d82e1ff636'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4e48eef17b7d04587736c'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}

### 6- Sort document

In [14]:
for doc in col.find().sort({"rating":1}):
    print(doc)

{'_id': ObjectId('65d4c99f440ec6d82e1ff630'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff632'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff634'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4ca16440ec6d82e1ff636'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4e48eef17b7d04587736c'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c663440ec6d82e1ff62e'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c99f440ec6d82e1ff62f'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff631'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff633'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4ca16440ec6d82e1ff635'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4e48eef17b7d04587736a'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}
{'_id': ObjectId('65d4e48eef17b7d04587736b'), 'title': 'Florian', 'author': 'Brandon Sanderson', 'pages': 350, 'genres': ['fantasy', 'dystopian'], 'rating': 9}

### 7- Delete document

In [18]:
col.count_documents({})

12

In [20]:
col.delete_one({"title":"Florian"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [21]:
col.count_documents({})

11

In [22]:
col.delete_many({"title":"Florian"})

DeleteResult({'n': 6, 'ok': 1.0}, acknowledged=True)

In [23]:
col.count_documents({})

5

### 8- Update document

In [24]:
for doc in col.find():
    print(doc)

{'_id': ObjectId('65d4c99f440ec6d82e1ff630'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff632'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff634'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4ca16440ec6d82e1ff636'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4e48eef17b7d04587736c'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}

In [26]:
col.update_one({"title":"Blaise"}, {'$set':{"rating":100}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [27]:
for doc in col.find():
    print(doc)

{'_id': ObjectId('65d4c99f440ec6d82e1ff630'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 100}
{'_id': ObjectId('65d4c9c0440ec6d82e1ff632'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4c9d0440ec6d82e1ff634'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4ca16440ec6d82e1ff636'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}
{'_id': ObjectId('65d4e48eef17b7d04587736c'), 'title': 'Blaise', 'author': 'Brandon Sanderson', 'pages': 21, 'genres': ['okay', 'dystopian'], 'rating': 7}

### 9- Aggregation ($avg,  $sum,  $group,  $project)

In [28]:
stud = db_instance.get_collection("studentscores")

In [29]:
data = [
    {"user":"Krish", "subject":"Database", "score":80},
    {"user":"Amit", "subject":"JavaScript", "score":90},
    {"user":"Amit", "title":"Database", "score":85},
    {"user":"Krish", "title":"JavaScript", "score":75},
    {"user":"Amit", "title":"Data Science", "score":60},
    {"user":"Krish", "title":"Data Science", "score":95}
]

stud.insert_many(data)

InsertManyResult([ObjectId('65d50d03ef17b7d04587736d'), ObjectId('65d50d03ef17b7d04587736e'), ObjectId('65d50d03ef17b7d04587736f'), ObjectId('65d50d03ef17b7d045877370'), ObjectId('65d50d03ef17b7d045877371'), ObjectId('65d50d03ef17b7d045877372')], acknowledged=True)

In [30]:
for doc in stud.find():
    print(doc)

{'_id': ObjectId('65d50d03ef17b7d04587736d'), 'user': 'Krish', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('65d50d03ef17b7d04587736e'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('65d50d03ef17b7d04587736f'), 'user': 'Amit', 'title': 'Database', 'score': 85}
{'_id': ObjectId('65d50d03ef17b7d045877370'), 'user': 'Krish', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('65d50d03ef17b7d045877371'), 'user': 'Amit', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('65d50d03ef17b7d045877372'), 'user': 'Krish', 'title': 'Data Science', 'score': 95}

In [31]:
# Find the total subject for each user
sub = stud.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "Total suject": {"$sum" : 1}
        }}
    ])

for i in sub:
    print(i)

{'_id': 'Amit', 'Total suject': 3}
{'_id': 'Krish', 'Total suject': 3}

In [34]:
# Find the total of score for each user

tot = stud.aggregate(
    [{
        "$group":
        {
            "_id":"$user",
            "Total score":{"$sum":"$score"}
        }
    }]
)

for f in tot:
    print(f)

{'_id': 'Amit', 'Total score': 235}
{'_id': 'Krish', 'Total score': 250}

In [36]:
import datetime as datetime

In [37]:
### Create a new collection
data=[{"_id":1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [38]:
new = db_instance.get_collection("stores")
new.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [39]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 2, 20, 22, 26, 11, 492582)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 2, 20, 22, 26, 11, 492582)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 2, 20, 22, 26, 11, 492582)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 2, 20, 22, 26, 11, 492582)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 2, 20, 22, 26, 11, 492582)}]

In [41]:
# Calculate the average quantity and the average price

avg = new.aggregate([
    {
        "$group":
        {
            "_id":"$item",
            "avg_quantity":{"$avg":"$quantity"},
            "avg_price":{"$avg":{"$multiply":["$price", "$quantity"]}}
        }
    }
])

for i in avg:
    print(i)

{'_id': 'jkl', 'avg_quantity': 1.0, 'avg_price': 20.0}
{'_id': 'abc', 'avg_quantity': 6.0, 'avg_price': 60.0}
{'_id': 'xyz', 'avg_quantity': 7.5, 'avg_price': 37.5}

In [42]:
## Project
data=[
    {
    "_id" : 1,
    "title": "abc123",
    "isbn": "0001122223334",
    "author": { "last": "zzz", "first": "aaa" },
    "copies": 5
    },
    {
    "_id" : 2,
    "title": "Baked Goods",
    "isbn": "9999999999999",
    "author": { "last": "xyz", "first": "abc", "middle": "" },
    "copies": 2
    },
    {
    "_id" : 3,
    "title": "Ice Cream Cakes",
    "isbn": "8888888888888",
    "author": { "last": "xyz", "first": "abc", "middle": "mmm" },
    "copies": 5
    }
]

In [44]:
bk = db_instance.get_collection("book")
bk.insert_many(data)

InsertManyResult([1, 2, 3], acknowledged=True)

In [47]:
re = bk.aggregate([{"$project" : {"title":1}}])

for i in re:
    print(i)

{'_id': 1, 'title': 'abc123'}
{'_id': 2, 'title': 'Baked Goods'}
{'_id': 3, 'title': 'Ice Cream Cakes'}

In [48]:
re = bk.find({}, {"title":1})

for i in re:
    print(i)

{'_id': 1, 'title': 'abc123'}
{'_id': 2, 'title': 'Baked Goods'}
{'_id': 3, 'title': 'Ice Cream Cakes'}

### 10- MongoDB to Pandas Dataframe

In [49]:
import pandas as pd

In [51]:
df = pd.DataFrame(list(stud.find()))
df

                        _id   user     subject  score         title
0  65d50d03ef17b7d04587736d  Krish    Database     80           NaN
1  65d50d03ef17b7d04587736e   Amit  JavaScript     90           NaN
2  65d50d03ef17b7d04587736f   Amit         NaN     85      Database
3  65d50d03ef17b7d045877370  Krish         NaN     75    JavaScript
4  65d50d03ef17b7d045877371   Amit         NaN     60  Data Science
5  65d50d03ef17b7d045877372  Krish         NaN     95  Data Science

In [52]:
dt = pd.DataFrame(list(bk.find()))
dt

,_id,title,isbn,author,copies
0,1,abc123,0001122223334,"{'last': 'zzz', 'first': 'aaa'}",5
1,2,Baked Goods,9999999999999,"{'last': 'xyz', 'first': 'abc', 'middle': ''}",2
2,3,Ice Cream Cakes,8888888888888,"{'last': 'xyz', 'first': 'abc', 'middle': 'mmm'}",5

In [57]:
from pandas import json_normalize

In [58]:


#datapoints = list(db.collection_name.find({})

df = json_normalize(list(bk.find()))

df.head()

,_id,title,isbn,copies,author.last,author.first,author.middle
0,1,abc123,0001122223334,5,zzz,aaa,NaN
1,2,Baked Goods,9999999999999,2,xyz,abc,
2,3,Ice Cream Cakes,8888888888888,5,xyz,abc,mmm